html{ overflow-y: scroll; overflow-x: hidden;}

.header-grid-container{
    display: grid;
    grid-template-columns: auto;
    background-image:
    linear-gradient(to bottom, rgba(0,0,205, 0.52), rgba(0,0,205, 0.52)),
    url('./Header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.header-item{
    font-family: "garamond", Times, serif;
    color: white;
    margin: auto auto auto auto;
}

.title{
    text-align: center;
    font-size: 100px;
    max-width: 80%;
    margin-left: 100px;
    animation: 2s ease-out 0s 1 sliding;
}

.details{
    margin: auto auto;
    font-size: 40px;
    margin-left: 150px;
    margin-bottom: 30px;
    animation: 2s ease-out 0s 1 sliding;
}

.header-button{
    border-radius: 30px;
    background: white;
    box-shadow: none;
    border: 0;
    color: gray;
    font-size: large;
    padding: 15px 25px;
    margin-bottom: 100px;
    margin-left: 350px;
    transition: transform .2s;
}

.header-button:hover {
    transform: scale(1.1);
    background-color: blueviolet;
    color: white;
    transition: 0.2s all ease 0s;
}

.lectures-grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-image:
    linear-gradient(to bottom right, rgba(102, 204, 153, 0.52), rgba(148,0,211, 0.52)),
    url('./Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.lectures-item{
    margin-top: 200px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    background-color: whitesmoke;
    text-align: center;
    max-width: 260px;
    min-height: 400px;
    border-radius: 10px;
    color:grey;
    transition: translate 0.5s, transform .5s;
}

.lectures-item:hover{
    transform: scale(1.05);
    translate: 0 -10%;
    transition: 0.5s all ease 0s;
}

.lectures-img{
    height: 100px;
    width: 100px;
    filter: opacity(0.4);
    margin-top: 20px;
    margin-bottom: 20px;
}

.lectures-title{
    font-weight: bolder;
    font-size: larger;
}

.lectures-detail{
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    line-height: 30px;
}

.books-container{
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 10px;
}

.books-title{
    font-size: 30px;
    font-family: "georgia", Times, serif;
    background: -webkit-linear-gradient(rgba(0,0,205, 0.40), rgba(0,0,205, 0.90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
    transition: transform .2s;
}

.books-title:hover{
    transform: scale(1.1);
    transition: 0.5s all ease 0s;
}

.related-books-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 130px;
    background-size: cover;
    padding-bottom: 100px;
}

.books-img{
    width: 295px;
    height: 200px;
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 100%, 100% 0);
}

.books-img1{
    background-size: cover;
    background-image:
    linear-gradient(to bottom right, rgba(102, 204, 153, 0.52), rgba(102, 204, 153, 0.52)),
    url("./Book1-2.png");
    top: 0;
}

.books-img2{
    background-size: cover;
    background-image:
    linear-gradient(to bottom right, rgba(0,0,205, 0.52), rgba(0,0,205, 0.52)),
    url("./Book2-2.jpg");
    top: 0;
}

.books-img3{
    background-size: cover;
    background-image:
    linear-gradient(to bottom right, rgba(123,104,238, 0.5), rgba(123,104,238, 0.52)),
    url("./Book3-2.png");
    top: 0;
}

.book-title1{
    font-weight:bolder;
    background-image:
    linear-gradient(to right, rgba(62, 204, 103, 0.5), rgba(62, 204, 103, 1));
    position: relative;
    translate: 0 -220%;
    color: greenyellow;
    width: 200px;
}

.book-title2{
    font-weight:bolder;
    background-image:
    linear-gradient(to right, rgba(68,85,180,0.5), rgba(0,0,180, 1));
    position: relative;
    translate: 0 -220%;
    color: lightblue;
    width: 200px;
}

.book-title3{
    font-weight:bolder;
    background-image:
    linear-gradient(to right, rgba(139,0,139, 0.5), rgba(139,0,139, 0.9));
    position: relative;
    translate: 0 -220%;
    color: pink;
    width: 200px;
}

.books-item{
    max-height: 450px;
    max-width: 295px;
    margin: 10px 10px;
    background-color: white;
    box-shadow: black;
    line-height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image:
    linear-gradient(to bottom right, rgba(102, 204, 153, 0.42), rgba(148,0,211, 0.22));
    margin-bottom: 50px;
    perspective: 1000px;
}


.books-detail{
    translate: 0 -50%;
    margin-top: 70px;
}

.footer-grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #353935;
}

.footer-item{
    margin: 30px 10px;
    color: white;
    font-family: "georgia", Times, serif;
}

.links{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "georgia", Times, serif;
    font-size: smaller;
}

.links:hover{
    text-decoration: underline;
}

.links:active{
    color: antiquewhite;
}

.footer-item1{
    margin-right: 20px;
}

@keyframes sliding {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0);
    }
}


.flip-card {
    background-color: transparent;
    height: 450px;
    width: 295px;
    perspective: 1000px;
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image:
    linear-gradient(to bottom right, rgba(102, 204, 153, 0.42), rgba(148,0,211, 0.22));
    box-shadow: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    margin-top: 120px;
    color: rgba(0, 0, 0, 0.777);
    transform: rotateY(180deg);
}

.flip-card-back-button{
    border-radius: 30px;
    background: white;
    box-shadow: none;
    border: 0;
    color: gray;
    font-size: large;
    padding: 15px 25px;
    transition: transform .2s;
    cursor: pointer;
}  

.flip-card-back-button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 68, 255, 0.589);
    color: white;
    transition: 0.2s all ease 0s;
}


.nav-container{
    z-index: 2;
    position: fixed;
    height: 8vh;
    width: 75px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 50%;
    transition: .3s cubic-bezier(0.63, -0.13, 0.32, 1.24);
}

ul li{
    list-style: none;
    color: rgb(79, 79, 79);
    font-family: tahama;
    font-size: 30px;
    cursor: pointer;
    padding-bottom: 5px;
    transform: translateY(-500px);
    opacity: 0;
    transition: transform .6s cubic-bezier(1, -0.69, 0.55, 1.56);
}

ul li:hover{
    color: black;
}

input{
    display: none;
}

label{
    margin-top: 10px;
    z-index: 99;
    position: fixed;
    top: 5px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(1, -0.21, 0.2, 1.31);
}

label > div{
    height: 5px;
    width: 35px;
    background-color: rgb(49, 49, 49);
    margin: 5px;
    transition: transform 0.3s;
}

label:hover > div{
    background: black;
}

#toggle-nav:checked ~ .nav-container{
    height: 100vh;
    width: 275px;
}

#toggle-nav:checked ~ label{
    left: calc(250px - 40px);
}

#toggle-nav:checked ~ label > div:nth-child(1){
    transform: rotateZ(45deg);
    margin-top: 18px;
}

#toggle-nav:checked ~ label > div:nth-child(3){
    transform: rotateZ(-45deg);
    margin-top: -20px;
}

#toggle-nav:checked ~ label > div:nth-child(2){
    opacity: 0;
}

#toggle-nav:checked ~ .nav-container ul li{
    transform: translateY(-0px);
    opacity: 1;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal:target{
    display: block;
}

.modal-content {
    max-height: fit-content;
    background-color: #fefefe;
    margin: 170px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;

}

.modal-img{
    max-width: 350px;
    max-height: 450px;
}

.modal-title{
    background: -webkit-linear-gradient(rgba(0,0,205, 0.40), rgba(0,0,205, 0.90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 10px;
}

.modal-important{
    color: grey;
    margin-left: 10px;
}

.modal-texts{
    display: grid;
    grid-template-columns: auto auto;
    color: grey;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.modal-text2{
    margin-right: 30px;
}

.close {
    color: black;
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
    translate: -920% 530%;
}

a{
    text-decoration: none;
}

.modal-button{
    border-radius: 30px;
    background: blue;
    box-shadow: none;
    border: 0;
    color: white;
    font-size: large;
    padding: 15px 25px;
    margin-left: 350px;
    transition: transform .2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-button:hover {
    transform: scale(1.1);
    background-color: blueviolet;
    color: white;
    transition: 0.2s all ease 0s;
}
